@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #171717;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none !important;
}

html {
  scroll-behavior: auto;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
    .container::-webkit-scrollbar {
        display: none;
    }
    html {
        scrollbar-width: none;
    }
    .container {
        -ms-overflow-style: none;
    }
}

@font-face {
  font-family: 'rothefight';
  src: url(/fonts/ROTHEFIGHT.otf) format('opentype');
}

@font-face {
  font-family: 'cartographCF';
  src: url(/fonts/CartographCF-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'monumentExtended';
  src: url(/fonts/MonumentExtended-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'starlightRune';
  src: url(/fonts/StarlightRune.ttf) format('truetype');
}

@font-face {
  font-family: 'arome';
  src: url(/fonts/Arome-Display.ttf) format('truetype');
}

@theme {
  --font-monumentExtended: 'monumentExtended', sans-serif;
  --font-cartographCF: 'cartographCF', sans-serif;
  --font-rothefight: 'rothefight', sans-serif;
  --font-starlightRune: 'starlightRune', sans-serif;
  --font-arome: 'arome', sans-serif;

  --color-primary: #171717;
  --color-secondary: #1b1b1b;
  --color-accent: #212121;
  --color-special: #b90e0a;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}