@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #171717;
}

@font-face {
  font-family: 'rothefight';
  src: url(/fonts/ROTHEFIGHT.otf) format('opentype');
}

@font-face {
  font-family: 'cartographCF';
  src: url(/fonts/CartographCF-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'monumentExtended';
  src: url(/fonts/MonumentExtended-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'starlightRune';
  src: url(/fonts/StarlightRune.ttf) format('truetype');
}

@theme {
  --font-monumentExtended: 'monumentExtended', sans-serif;
  --font-cartographCF: 'cartographCF', sans-serif;
  --font-rothefight: 'rothefight', sans-serif;
  --font-starlightRune: 'starlightRune', sans-serif;

  --color-primary: #171717;
  --color-secondary: #1b1b1b;
  --color-accent: #212121;
  --color-text-primary: #ffffff;
}
